.course-second {
    display: flex;
    width: 100%;
    height: 88vh;
}

.course-feed {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    margin-top: 64px;
    width: 100%;
    padding: 16px;
}

.course-feed-button {
    border-radius: 8px;
    padding: 8px;
    border: none;
}

.course-feed-button:hover {
    background-color: #1ca7ec;
}

.course-material {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    gap: 8px;
    align-items: center;
    background-color: rgb(228, 228, 228);
    height: 40px;
    border-radius: 8px;
    margin-top: 24px;
}

.course-material:hover {
    background-color: rgb(220, 220, 220);
}

.course-material-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.course-material-left input {
    border: none;
    outline: none;
    height: 16px;
    font-size: 14px;
    width: 160px;
    background-color: rgb(228, 228, 228);
}

.course-material-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 8px;
}

.course-material-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px;
    padding: 6px;
    margin-top: 8px;
}

.course-material-file button {
    border: none;
    background-color: white;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.course-material-file button:hover {
    color: #1ca7ec;
}

.course-material-file p {
    margin: 0;
    font-size: 14px;
}

.course-material-file a {
    color: gray;
    text-decoration: none;
    margin-right: 4px;
    font-size: 1px;
}